.button {
  width: fit-content;
  display: inline-block;
  padding: 16px 32px;
  color: #160E35;
  font-weight: 900;
  font-size: 1.5rem;
  background-color: #FCD766;
  border-radius: 5px;
  border-bottom: 4px solid #F9AF0C;
}
